@font-face {
  font-family: 'Segoe UI Black';
  src: url('@/public/fonts/segoe-ui-black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI Black', 'Segoe UI', sans-serif;
  height: auto;
}

body {
  height: 100%;
  margin: 0;
}